    *{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        body{
            background: url("task1.jpg");
            background-repeat: no-repeat!important;
            background-size: cover;
        }
        .form{
            position: absolute;
            top: 30%;
            left: 75%;
            margin-left: -170px;
            margin-top: -120px;
            height: 500px;
            width: 390px;
            font-size: 18px;
            background-color: #f8f7f7;
        }

        #landing{
            float: left;
            text-align: center;
            width: 220px;
            padding: 15px 0;
            color: #545454;
        }

        #registered {
            float: left;
            text-align: center;
            width: 170px;
            padding: 15px 0;
            color: #545454;
        }


        #registered-content {
            margin-top: 40px;
            display: none;
        }

        #landing-content {
            clear: both;
        }

        .inp {
            height: 30px;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 80%;
        }

        .inp > input {
            BORDER: #707070 1px solid;
            text-align: center;
            height: 30px;
            line-height:28px;
            width: 100%;
            margin: 0 auto;
            transition: all 0.3s ease-in-out;
        }

        .login {
            background: #cdbca3;
            border: 1px solid #A6A6A6;
            color: #fff;
            height: 30px;
            width: 202px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin-left: 90px;
            line-height: 30px;
            transition: all 0.3s ease-in-out;
            border-radius: 3px;
            cursor: pointer;
        }

        .login:hover {
            background: #A6A6A6;
            color: #fff;
        }

        .fix {
            clear: both;
        }

        .form {
            display: none;
        }
        
        .book_6 a {
            color:#1f69ac;
            font-size: 18px;
            display: block;
        }
        .book_6 :hover {
            background-image: url("../images/bg-test2.png");
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .landing_btn_bg{
            float: left;
            background-image: none;
            background-color: #51be53;
            width: 255px;
            height: 38px;
            cursor: pointer;
            border: 1px solid #1c9c1e;
            font-family: 微软雅黑;
            font-size:18px;
            border-radius:6px;
            margin: 65px 20px 30px 65px;
            color:#fff;
            position:relative;
            line-height:36px;
        }
        .login_box_landing_btn{
            float:left;
            background:transparent;
            width:255px;
            height:38px;
            cursor:pointer;
            border: 0px solid #1c9c1e;
            font-family: 微软雅黑;
            font-size:18px;
            border-radius:6px;
            position:absolute;
        }